.tags-input {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: 2.5em;
    padding: 0;
    position: relative;
    border-radius: 4px;
    align-items: center;
    box-shadow: none;
    font-size: 1rem;
    justify-content: flex-start;
    line-height: 1.5;
    vertical-align: top;
}

.tags-input .input {
    border-color: transparent;
    box-shadow: none;
    display: inline-block;
    flex: 1 0 auto;
    height: 2.3rem;
    margin: .1rem;
    width: auto;
}

.tags-input .tag {
    font-size: 1rem;
    margin: .1rem;
}

.tags-input .tag:hover {
    cursor: pointer;
}